#viewDiv {
  padding: 0;
  margin: 0;
  height: 100vh;
}

#esriWidget {
  position: absolute;
}

#lineChart {
  position: fixed;
  padding: 15px;
  height: 300px;
  width: 100%;
  left: 0px;
  bottom: 20px;
  background-color: rgba(39, 39, 42, 0.6);
}

#dateSelector {
  position: fixed;
  left: 0px;
  bottom: 329px;
}

input[type="radio"]:checked + label {
  background-color: #000000;
}
